@use "../../styles/variables";
@import "../../styles/mediaqueries";

.filtrationSliderSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.filtrationSliderWrapper {
  width: 150px;

  @include devices(mobile) {
    padding-bottom: 20px;
  }

  & p {
    padding-bottom: 15px;
    color: variables.$fc-text;
  
    @include devices(mobile) {
      padding-bottom: 20px;
    }
  }
}

.filtrationSliderText {
  text-align: center;
}

.slider {
  width: 100%;
  height: 25px;

  & .thumb {
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    background-color: variables.$bgc-main;
    border-radius: 50%;
    cursor: grab;
  }

  & .track {
    top: 10px;
    bottom: 10px;
    height: 5px;
    background: #ccc;
  }
}