@use "../../../styles/variables";
@import "../../../styles/mediaqueries";

.sectionWrapper {
  padding: 50px 15px 100px;
}

.cardsSectionHeadline {
  color: variables.$fc-main;
  font-weight: 700;
  text-transform: uppercase;
}

.cardsSectionText {
  padding: 5px 0px 50px;
  color: variables.$fc-text;
}