.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-family: 'font-family: Verdana, Geneva, Tahoma, sans-serif';
}

.imgButton{
    margin-left: 10px;
}