@use "../../styles/variables";

.buttonStyle {
    height: 56px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: variables.$fs-s;
    font-weight: 700;
    // background: linear-gradient(137deg, variables.$bgc-second -24.6%, #46A358 100%);
}