.buttonStyle {
    height: 40px;
    // padding: 0px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: 700;
}