@use "../../styles/variables";
@import "../../styles/mediaqueries";


.filtrationWrapper {
    width: 100%;
    padding: 50px 0px 20px;
  
    @include devices(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 45px 0px 25px;
    }
  
    & p {
      padding-bottom: 15px;
      color: variables.$fc-text;
    
      @include devices(mobile) {
        padding-bottom: 20px;
      }
    }
  }
  
  .filtrationSelectWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
    @include devices(mobile) {
      align-items: center;
      padding-bottom: 25px;
    }
  }
  
  .select {
    height: 40px;
    width: 280px;
    padding: 2px 10px;
    border: 1px solid variables.$bgc-main;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    appearance: none;
    cursor: pointer;
  
    @include devices(mobile) {
      text-align: center;
    }
  
    &:focus {
      border: 1px solid variables.$bgc-main;
      outline: none;
    }
  }
  
  .option {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid variables.$bgc-main;
  }
  
  // .slider {
  //   width: 100%;
  //   height: 25px;
  
  //   & .thumb {
  //     height: 25px;
  //     line-height: 25px;
  //     width: 25px;
  //     text-align: center;
  //     background-color: variables.$bgc-main;
  //     color: #fff;
  //     border-radius: 50%;
  //     cursor: grab;
  //   }
  
  //   & .track {
  //     top: 10px;
  //     bottom: 10px;
  //     background: #ccc;
  //     height: 5px;
  //   }
  // }
  
  .filtration {
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    @include devices(mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  // .filtrationSliderSection {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 350px;
  
  //   @include devices(mobile) {
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }
  
  // .filtrationSliderWrapper {
  //   width: 150px;
  
  //   @include devices(mobile) {
  //     padding-bottom: 20px;
  //   }
  // }
  
  // .filtrationSliderText {
  //   text-align: center;
  // }