@use "../../styles/variables";
@import "../../styles/mediaqueries";


.cardsListWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 20px;
    gap: 30px;

    @include devices(mobile) {
        column-gap: 30px;
    }


    & a {
        display: flex;
        justify-content: center;
    }
}