.listIteam{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.iteam{
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgba(70, 163, 88, 1);
    background-color: #fff;;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    width: 95%;
}

.iteam:hover {
    background-color: #dddddd;
}

.textIteam{
    font-size: 16px;
    font-weight: 600;
    color: #3D3D3D;
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(min-width: 768px) {
    .iteam{
        margin: 5px;
        width: 46%;
    }
}