@use "../../styles/mixins";
@use "../../styles/variables";
@import "../../styles/mediaqueries";



.slick-track {
  max-height: 500px;
}
.sliderContainer {
  display: flex;
  max-width: 500px;
  max-height: 500px;
}
.slidesImg{
max-width: fit-content;
}
