// fonts size
$fs-sx: 12px;
$fs-s: 14px;
$fs-m: 15px;
$fs-l: 18px;
$fs-x: 20px;
$fs-xxl: 28px;

// fonts color
$fc-main: rgb(70, 163, 88);
$fc-text: rgb(61, 61, 61);
$fc-info-hidden: rgb(133, 133, 133);
$fc-hot: rgb(255, 140, 0);
$fc-attention: rgb(255, 51, 0);

// background color
$bgc-main: rgb(70, 163, 88);
$bgc-second: rgba(70, 163, 88, 0.1);
$bgc-hot: rgb(255, 140, 0);
$bgc-attention: rgb(255, 51, 0);

// border color
$border-color-main: rgb(70, 163, 88);
$border-color-decor: rgb(244, 244, 244);

//color for text:
$main-text-color: #3d3d3d;