@use "./reset";

@font-face {
    font-family: "CeraProRegular";
    src: url("../fonts/CeraProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "CeraProBold";
    src: url("../fonts/CeraProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

// styles
* {
    font-family: "CeraProRegular";
}