@use "./reset";

@font-face {
    font-family: "CeraProRegular";
    src: url("../fonts/CeraProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "CeraProBold";
    src: url("../fonts/CeraProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

// styles
* {
    font-family: "CeraProRegular";
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
}