@use "../../../../styles/variables";
@import "../../../../styles/mediaqueries";

.wrapper {
  padding: 50px 15px 100px;

  @include devices(mobile) {
    padding: 50px 15px 25px;
  }
}

.headline {
  font-weight: 700;
  text-transform: uppercase;
  color: variables.$fc-main;
}

.favoritesWrapper,
.cartProductsWrapper {
  padding-top: 30px;
}

.favoritesHeadline,
.cartProductsHeadline {
  padding-top: 5px;
  color: variables.$fc-text;
}

.cardItemWrapper {
  display: flex;
  column-gap: 5px;
}

.routesLinkWrapper {
  display: flex;
  justify-content: flex-end;
}

.routesLink {
  color: variables.$fc-main;
}

.routesLink:hover {
  text-decoration: underline;
}