@use "../../styles/variables";
@import "../../styles/mediaqueries";


.cardItemWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 310px;
    border-radius: 25px;


    @include devices(laptop) {
        &:hover .cardItemDecor {
            display: block;
        }
    
        &:hover .cardItemIconsWrapper {
            transform: translateY(-15px);
            visibility: visible;
            opacity: 1;
        }
    }
}


.decorLot,
.decorDonat {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 8px;
    font-weight: 700;
    background-color: variables.$bgc-hot;
    border-radius: 20px 0px;
}

.decorDonat {
    width: 100px;
    background-color: variables.$bgc-attention;
}

.cardItemImageWrapper {
    border: 5px solid variables.$bgc-second;;
    border-radius: 25px;
}

.cardItemImage {
    width: 140px;
    height: 168px;
    padding-bottom: 30px;
    object-fit: cover;
    border-radius: 25px;
}

.cardItemTextWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardItemHeadline {
    padding-top: 9px;
    color: #3D3D3D; 
    font-weight: 400;
    font-size: variables.$fs-m;
    line-height: 16px;
}

.cardItemPrice,
.cardItemGoalLot,
.cardItemGoalDonat {
    padding-top: 4px;
    font-weight: 700;
}

.cardItemPrice {
    color: variables.$fc-main;
}

.cardItemGoalLot {
    color: variables.$fc-hot;
}

.cardItemGoalDonat {
    color: variables.$fc-attention;
}

.cardItemDecor {
    position: absolute;
    top: 310px;
    display: none;
    width: 100%;
    height: 1px;
    background-color: variables.$fc-main;
}

.cardItemIconsWrapper {
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 0 0 20px 20px;
    opacity: 1;
    transition: all .3s ease;

    @include devices(laptop) {
        top: 185px;
        visibility: hidden;
        opacity: 0;
    }
}

.cardItemIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.cardItemIcon {
    width: 25px;
    padding-top: 5px;
}

