@use "../../styles/variables";
@import "../../styles/mediaqueries";


.cardItemWrapper {
    width: 140px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    position: relative;

    &:hover .cardItemDecor {
        display: block;
    }

    &:hover .cardItemIconsWrapper {
        opacity: 1;
        visibility: visible;
        transform: translateY(-15px);
    }
}


.decorLot,
.decorDonat {
    width: 80px;
    padding: 8px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: variables.$bgc-hot;
    border-radius: 20px 0px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.decorDonat {
    width: 100px;
    background-color: variables.$bgc-attention;
}

.cardItemImageWrapper {
    border: 5px solid variables.$bgc-second;;
    border-radius: 25px;
}

.cardItemImage {
    width: 140px;
    height: 168px;
    border-radius: 25px;
    object-fit: cover;
    padding-bottom: 30px;
}

.cardItemTextWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardItemHeadline {
    font-size: variables.$fs-m; 
    font-weight: 400;
    padding-top: 9px;
    line-height: 16px;
    color: #3D3D3D;
}

.cardItemPrice {
    padding-top: 4px;
    font-weight: 700;
    color: variables.$fc-main;
}

.cardItemDecor {
    position: absolute;
    top: 310px;
    width: 100%;
    height: 1px;
    display: none;
    background-color: variables.$fc-main;
}

.cardItemIconsWrapper {
    position: absolute;
    width: 100%;
    top: 185px;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 20px 20px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}

.cardItemIconWrapper {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cardItemIcon {
    padding-top: 5px;
    width: 25px;
}

