@use"../../../styles/variables";
@use "../../../styles/mixins";
@import "../../../styles/mediaqueries";

.cardsSectionWrapper {
    padding: 50px 15px;
}


.cardsListWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardsSectionHeadline {
    color: variables.$fc-main;
    font-weight: 700;
    text-transform: uppercase;
}

  .cardsSectionText {
    padding-top: 5px;
    color: variables.$fc-text;
}

.favoriteEmpty {
    padding-top: 100px;
    text-align: center;
}

.cardItemWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 300px 100px 30px;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    margin-top: 11px;
}


.cardItemImageWrapper {
    border: 5px solid variables.$bgc-second;
    border-radius: 25px;
    
}
.productInfo{
    display: flex;
    align-items: center;
}

.cardItemImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 25px;
}

.decorLot,
.decorDonat {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding: 8px;
    font-weight: 700;
    background-color: variables.$bgc-hot;
    border-radius: 20px 0px;
}

.decorDonat {
    width: 100px;
    background-color: variables.$bgc-attention;
}

.quantityCounterWrapper{
    display: flex;
    align-items: center;
    width: 130px;
}

.cardItemPrice {
    color: variables.$fc-main;
    font-weight: 700;
}
.tableRow{
    display: grid;
    grid-template-columns: 300px 150px;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    border-bottom: 0.3px solid #7c8d66;
    padding-bottom: 11px;
    border-radius: 0;
    color: rgba(61, 61, 61, 1);
    @include mixins.font-family-medium;
    font-size: 16px;
    line-height: 16px;
}
.nameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
}
.name {
    @include mixins.font-family-medium;
    font-size: 16px;
    line-height: 16px;
}
.sku{
    @include mixins.font-family-regular;
    margin-bottom: 10px;
    color: #727272;
    font-size: 15px;
    line-height: 16px;
    span {
        color: #a5a5a5;
        text-transform: uppercase;
    }

}
