.wrapperModal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  .wrapperModalHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 20px;
  }

    .closeModal {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: opacity ease .5s;
    
        &:hover {
            opacity: 1;
        }
    }
    
    .closeModal::before,
    .closeModal::after {
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #46A358;
        content: '';
    }
    
    .closeModal::before {
        transform: rotate(45deg);
    }
    
    .closeModal::after {
        transform: rotate(-45deg);
    }
  
  .mainModal {
    padding-top: 10px;
  }
  
  .wrapperMainTittle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
  }