.contactFieldWrapper{
  width: 100%;
  margin: 0 0 24px;
}
.inputForm{
  width: 100%;
  height: 40px;
  padding: 4px 8px;
  border: none;
}
.textareaForm{
  width: 100%;
  min-height: 120px;
  padding: 4px 8px;
  border: none;
}
.errorMessage{
  color: red;
}
.btnForm {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  padding: 8px 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #7c8d66;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}