@media screen and (min-width: 1024px) {
    .header {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 100%;
        padding: 20px;
        gap: 20px;
        justify-content: space-between;
    }

    .navItem {
        gap: 10px;
    }

    .navList {
        font-size: 16px;
        font-weight: 300;
        line-height: 15px;
        border-bottom: 1px solid transparent;
    }

    .navRightSideMenu {
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .navItem {
        gap: 30px;
    }

    .navRightSideMenu {
        gap: 50px;
    }
}

@media screen and (max-width: 600px) {
    .navItem {
        flex-direction: column;
        gap: 5px;
        margin: 0;
        height: 200px;
        justify-content: center;
    }

    .navList {
        font-size: 16px;
    }

    .navRightSideMenu {
        flex-direction: column;
        gap: 20px;
    }

    .searching {
        display: flex;
        flex-direction: column;
    }
    .searchButtons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
