
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    margin: 0 auto;
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

.navItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    height: 100%;
}

.navList {
    text-decoration: none;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s;
}

.navList:hover {
    border-color: #5b7e62;
    cursor: pointer;
    box-sizing: border-box;
}

.navList:hover .navLink {
    cursor: pointer;
    text-shadow: 0 0 2px #000;
}

.navLink {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    transition: text-shadow 0.2s;
}

.navRightSideMenu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.navSearch {
    height: 20px;
}

.searching {
    display: flex;
    gap: 10px;
}

.searchButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.searchBtn {
    background-color: #5b7e62;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: #446b4c;
    transition: 0.5s;
}

.closeSearchBtn:hover {
    background-color: #ff0000;
    transition: 0.5s;
}

.navCart {
    height: 24px;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #5b7e62;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.navButton:hover {
    background-color: #45634b;
    transition: 0.7s;
}

@media screen and (min-width: 1024px) {
    .header {
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        width: 100%;
        padding: 20px; /* Додайте потрібний відступ */
        gap: 20px;
        justify-content: space-between;
    }

    .navItem {
        gap: 10px;
    }

    .navList {
        font-size: 16px;
        font-weight: 300;
        line-height: 15px;
        border-bottom: 1px solid transparent;
    }

    .navRightSideMenu {
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .navItem {
        gap: 30px;
    }

    .navRightSideMenu {
        gap: 50px;
    }
}

@media screen and (max-width: 600px) {
    .navItem {
        flex-direction: column;
        gap: 5px;
        margin: 0;
        height: 200px;
        justify-content: center;
    }

    .navList {
        font-size: 16px;
    }

    .navRightSideMenu {
        flex-direction: column;
        gap: 20px;
    }

    .searching {
        display: flex;
        flex-direction: column;
    }
    .searchButtons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
