@use "../../styles/variables";
@import "../../styles/mediaqueries";

.windowWrapper {
  padding: 50px 0px;
}
  
.window {
  padding: 50px 100px 68px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 2px solid variables.$border-color-decor;
}

.headline {
  font-size: variables.$fs-x;
  padding-bottom: 53px;
  color: variables.$fc-main;
  font-weight: 600;
}

.text,
.textAttention {
  font-size: variables.$fs-s;
  text-align: center;
}

.text {
  color: variables.$fc-text;
}

.textAttention {
  color: variables.$bgc-attention;
}

.textRegistration {
  color: variables.$fc-main;
  padding-top: 46px;
}

.textRegistration:hover {
  text-decoration: underline;
}

.form {
  // width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input,
.inputAttention {
  width: 280px;
  height: 40px;
  border: 1px solid variables.$border-color-decor;
  border-radius: 5px;
  // background-color: variables.$bgc-second;
  padding: 2px 10px;
  margin-bottom: 17px;
}

.passwordWrapper {
  width: 100%;
  position: relative;
}

.iconButton {
  position: absolute;
  cursor: pointer;
  top: 11px;
  left: 260px;
}

.inputAttention {
  border: 1px solid variables.$bgc-attention;
}

input:focus {
  border: none;
  outline: none;
  border: 1px solid variables.$border-color-main;
}

.buttonStyle {
  height: 40px;
  width: 300px;
  background-color: variables.$bgc-main;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  margin-top: 27px;
}

.errorsWrapper {
  padding-top: 46px;
}