@use "../../styles/variables";
@import "../../styles/mediaqueries";

.windowWrapper {
  padding: 50px 0px;
}
  
.window {
  padding: 50px 100px 68px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 2px solid variables.$border-color-decor;
  row-gap: 20px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  font-size: 20px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input,
.inputAttention {
  border: 1px solid variables.$border-color-main;
  border-radius: 15px;
  background-color: variables.$bgc-second;
  padding: 2px 10px;
  margin-bottom: 20px;
}

.passwordWrapper {
  width: 100%;
  position: relative;
}

.iconButton {
  position: absolute;
  cursor: pointer;
  top:2px;
  left: 270px;
}

.inputAttention {
  border: 1px solid red;
  background-color: rgb(255, 165, 165);
}

input:focus {
  border: none;
  outline: none;
  border: 1px solid variables.$border-color-main;
}

.buttonStyle {
  height: 40px;
  width: 150px;
  background-color: variables.$bgc-main;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
}

.textAttention {
  text-align: center;
  color: red;
}

.text:hover {
  font-size: 14px;
  text-decoration: underline;
  color: variables.$fc-main;
}