// fonts size
$fs-s: 14px;
$fs-m: 15px;
$fs-l: 18px;

// fonts color
$fc-main: rgb(70, 163, 88);

// background color
$bgc-main: rgb(70, 163, 88);
$bgc-hot: rgb(255, 140, 0);
$bgc-attention: rgb(255, 51, 0);

// border color
$border-color-decor: rgb(244, 244, 244);
