@use "../../styles/variables";
@import "../../styles/mediaqueries";

.section {
  padding: 5px 15px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.imageswrapper {
  margin-top: -10px;
  width: 100%;
  border-top: 50px solid variables.$bgc-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images {
  margin-top: -30px;
  width: 80%;
  display: flex;
  justify-content: space-between;

  @include devices(mobile) {
    width: 100%;
}
}

.mainPisture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  & img {
    padding-top: 20px;
    background-color: variables.$bgc-main;
    width: 100%;
  }
}

.image {
  width: 28%;
  border: 1px solid variables.$bgc-second;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  cursor: pointer;
}