.slider{
    width: 100%;
    height: 50%;
    margin-bottom: 5rem;
    }
    
    // .slider{
    // width: 25%;
    // height: 30%;
    // }
    .slickFirst{
        max-width: 100%;
        height: 50%;
        cursor: pointer;
    }
    .slickSecond{
    width: 100%;
    height: 35px;
    cursor: pointer;
    }
    
    // .img{
    // width: 100%;
    // height: 100%;
    // object-fit: fill;
    // border: 1px solid rgb(70, 163, 88);
    // }
