@use "../../styles/variables";
@import "../../styles/mediaqueries";

.windowWrapper {
  padding: 50px;
}
  
.window {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: 2px solid variables.$border-color-decor;
  row-gap: 20px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.labelTextWrapper {
  display: flex;
  // align-items: center;
}

.iconWrapper {
  display: flex;
  // align-items: center;
  position: relative;
  cursor: pointer;
}

.iconWrapper:hover .infoText {
  visibility: visible;
}

.infoText {
  visibility: hidden;
  position: absolute;
  bottom: 42px;
  left: 20px;
  color: variables.$fc-info-hidden;
  font-size: variables.$fs-sx;
}

.labelText {
  padding-left: 5px;
}

.input,
.inputAttention {
  width: 60%;
  border: 1px solid variables.$border-color-main;
  border-radius: 15px;
  background-color: variables.$bgc-second;
  padding: 2px 10px;
  margin-bottom: 20px;
}

.passwordWrapper {
  position: relative;
}

.iconButton {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 470px;
}

.inputAttention {
  border: 1px solid red;
  background-color: rgb(255, 165, 165);
}

input:focus {
  border: none;
  outline: none;
  border: 1px solid variables.$border-color-main;
}

.buttonStyle {
  height: 40px;
  width: 150px;
  background-color: variables.$bgc-main;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
}

.textAttention {
  color: red;
  text-align: center;
}

.text:hover {
  font-size: 14px;
  text-decoration: underline;
  color: variables.$fc-main;
}

.remark {
  color: rgb(173, 173, 173);
}